 
 <input type="number" [(ngModel)]="IDsearch" placeholder=" Search By ID Here" >
 <button (click)="searchId(IDsearch)">Search</button>

 <main>
  <app-create-content (createEvent)="addContent($event)">
    
  </app-create-content>
  <p *ngIf="failingMessage !== ''">{{failingMessage}}</p>
  <br><br>
  </main>
  
  <h1 class="center">Search results</h1>
  <div *ngFor="let content of reasonswhy | TypePipe:'classic'" class="classic-type">
      <div *ngFor="let result of searchResults">
      <h2>{{result.title}}</h2>
      <p>Author: {{result.author}}</p>
      <p appHoverAffect>Type: {{result.type}}</p>
  
      <h5 class="card-title" *ngIf="content?.title">
          {{ result.title }}
        </h5>   
      <div>
          Hashtag: 
          <p *ngFor="let tag of content.hashtag" [appHoverAffect]="'bold'">{{tag}}</p>
      </div>
  
      <div *ngIf="result.imgURL; else defaultImg">
          <img (click)="logIdTitle(result)" src="{{result.imgURL}}">
      </div>
      <ng-template #defaultImg>
          <img (click)="logIdTitle(result)" src="{{result}}">
      </ng-template>
  </div>
  </div>
  
  <br> <br>
  
<!-- Different Types -->

  <h1>Type Not Found</h1>
  <div *ngFor="let content of reasonswhy | TypePipe" class="nothing">
      <h2>{{content.title}}</h2>
      <p>Author: {{content.author}}</p>
      <p appHoverAffect>Type: {{content.type}}</p>
  
      <div>
          Hashtag: 
          <p *ngFor="let tag of content.hashtag" [appHoverAffect]="'bold'">{{tag}}</p>
      </div>
  
      <div *ngIf="content.imgURL; else defaultImg">
          <img (click)="logIdTitle(content)" src="{{content.imgURL}}">
      </div>
      <ng-template #defaultImg>
          <img (click)="logIdTitle(content)" src="{{defaultImageURL}}">
      </ng-template>
  </div>
  
  <br> <hr> <br>
  
  <h1>Type-Girl</h1>
  <div *ngFor="let content of reasonswhy| TypePipe:'Girl'" class="Girl">
      <h2>{{content.title}}</h2>
      <p>Author: {{content.author}}</p>
      <p appHoverAffect>Type: {{content.type}}</p>
  
      <div>
          Hashtag: 
          <p *ngFor="let tag of content.hashtag" [appHoverAffect]="'bold'">{{tag}}</p>
      </div>
  
      <div *ngIf="content.imgURL; else defaultImg">
          <img (click)="logIdTitle(content)" src="{{content.imgURL}}">
      </div>
      <ng-template #defaultImg>
          <img (click)="logIdTitle(content)" src="{{defaultImageURL}}">
      </ng-template>
  </div>
  
  
  <br> <hr> <br>
  
  <h1>Type-Boy</h1>
  <div *ngFor="let content of reasonswhy | TypePipe:'Boy'" class="Boy">
      <h2>{{content.title}}</h2>
      <p>Author: {{content.author}}</p>
      <p appHoverAffect>Type: {{content.type}}</p>
  
      <div>
          Hashtag: 
          <p *ngFor="let tag of content.hashtag" [appHoverAffect]="'bold'">{{tag}}</p>
      </div>
      
      <div *ngIf="content.imgURL; else defaultImg">
          <img (click)="logIdTitle(content)" src="{{content.imgURL}}">
      </div>
      <ng-template #defaultImg>
          <img (click)="logIdTitle(content)" src="{{defaultImageURL}}">
      </ng-template>
  </div>